@model Neoxam.Models.message

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee1.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee1.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
